body {
    background-image: url('https://images.vexels.com/media/users/3/126387/raw/e7d9701e05bf5fcb3d0b8dbb33af37b4-flat-travel-plane-frame-background.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

#jumbo {
    
}
